/* styles.css */

/* 默认字体大小 */
body {
    font-size: 16px;
    line-height: 1.5;
    white-space: pre-wrap;
}

/* 移动端样式（屏幕宽度小于768px） */
@media (max-width: 768px) {
  body {
    font-size: 4vw; /* 移动端默认字体大小，是桌面端的两倍 */
  }

  h1 {
    font-size: 8vw; /* 移动端标题1，是桌面端的两倍 */
  }

  h2 {
    font-size: 12vw; /* 移动端标题2，是桌面端的两倍 */
  }

  h3 {
    font-size: 4vw; /* 移动端标题3，是桌面端的两倍 */
  }

  p {
    font-size: 2vw; /* 移动端段落，是桌面端的两倍 */
  }
}

/* 添加一些样式让链接看起来更友好 */
.auto-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.auto-link .icon {
    font-size: 1.2em;
}