/* styles.css */

/* 默认字体大小 */
body {
    font-size: 16px;
    line-height: 1.5;
    white-space: pre-wrap;
}

/* 当屏幕宽度小于600px时，调整字体大小 */
@media (max-width: 600px) {
    body {
        font-size: 40px; /* 增大字体 */
        line-height: 2.4; /* 增大行高 */
        padding: 30px; /* 增加内边距 */
    }

    h1 {
        font-size: 4rem; /* 调整标题字体大小 */
    }

    h2 {
        font-size: 3.5rem;
    }

    h3 {
        font-size: 3rem;
    }

    p {
        font-size: 2.5rem;
    }

    a {
        font-size: 2.5rem;
    }
}

/* 添加一些样式让链接看起来更友好 */
.auto-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.auto-link .icon {
    font-size: 1.2em;
}